<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register a doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
    <body class="text-center">
    

      {% comment %} Signup {% endcomment %}
      <main class="container form-signin w-100 m-auto my-4">
        <form method="post" action="/signupDoctor">
        {% csrf_token %}
          <img class="mb-4 mt-5 mt-5" src="/static/user_logo.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Register new Doctor</h1>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="name" placeholder="Your Name">
            <label for="floatingInput">Enter your name</label>
          </div>
          <select class="form-select" aria-label="Default select example" name="userType">
            <option selected>Select Specialization</option>
            <option value="Cardiologist">Cardiologist</option>
            <option value="Dermatologists">Dermatologists</option>
            <option value="Gastroenterologists">Gastroenterologists</option>
            <option value="Neurologists">Neurologists</option>
            <option value="Gynecologists">Gynecologists</option>
            <option value="Pathologists">Pathologists</option>
            <option value="Physician">Physician</option>
          </select>
          <div class="form-floating">
            <input type="address" class="form-control" id="floatingInput" required name="address" placeholder="Address">
            <label for="floatingInput">Enter your address</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="number" required class="form-control" id="floatingInput" name="phone" placeholder="Enter phone number">
            <label for="floatingInput">Contact(+91)</label>
          </div>
          <label class="form-label" name="dp" for="customFile">Profile Picture</label>
            <input type="file" class="form-control" name="dp" id="dp" />
          <label></label>
          <label class="form-label" name="license" for="customFile">License</label>
            <input type="file" class="form-control" name="license" id="license" />
          <label></label>
          <label class="form-label" name="other" for="customFile">other Documents</label>
            <input type="file" class="form-control" name="other" id="other" />
          <label></label>
          <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <label></label>
          {% comment %} <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> {% endcomment %}
          <select class="form-select" aria-label="Default select example" name="userType">
            <option selected>Select Type of User</option>
            <option value="Patient">Patient</option>
            <option value="Doctor">Doctor</option>
            <option value="Organization">Organization</option>
          </select>

          <button class="w-50 btn btn-lg btn-primary my-4" name="submitButton" type="submit">Sign up</button>
          <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
        </form>
      </main>
      {% comment %} Login end {% endcomment %}
      </body>
  
  
  </body>
</html>