<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .medicine {
            margin-top: 3%;
            margin-left: 0%;
            display: inline-block;
            float: left;
            width: 100%;
         }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>
  

    {% comment %} alert {% endcomment %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
    <body class="text-center">
    

      {% comment %} Signup {% endcomment %}
      <main class="container form-signin w-100 m-auto my-4">
        <form method="post" action="/signupOrganization" enctype="multipart/form-data">
        {% csrf_token %}
        {% if type == 'Pharmacy' %}
          <img class="mb-4 mt-5 mt-5" src="/static/user_logo.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Register new Pharmacy</h1>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="name" placeholder="Your Name">
            <label for="floatingInput">Enter shop name</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="state" placeholder="state">
            <label for="floatingInput">State/UT</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="city" placeholder="city">
            <label for="floatingInput">City</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="street" placeholder="street">
            <label for="floatingInput">Street</label>
          </div>
          
          <input type="hidden" id="phone" name="phone" value={{phone}}>
          <label></label>
          <br>
          <label class="form-label" for="customFile">Picture 1</label>
            <input type="file" required class="form-control" name="dp1" id="dp1" />
          <label></label>
          <br>
          <label class="form-label" for="customFile">Picture 2</label>
            <input type="file" required class="form-control" name="dp2" id="dp2" />
          <label></label>
          <br>
          <label class="form-label" for="customFile">license</label>
            <input type="file" required class="form-control" name="license" id="license" />
          <label></label>
          <div class="form-floating">
            <input type="password" class="form-control" required name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <label></label>

          <div class="container">Account details</div>
          <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" required name="acc" placeholder="Account number">
            <label for="floatingInput">Enter account number</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="holder" placeholder="Acc Holder Name">
            <label for="floatingInput">Account Holder</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="ifsc" placeholder="IFSC code">
            <label for="floatingInput">IFSC</label>
          </div>
          <div class ="medicine">
          
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Aspirin" value="Aspirin, Rs 300" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Aspirin Rs 300.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Avomine" value="Avomine, Rs 50" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Avomine Rs 50.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Roseday10" value="Roseday10, Rs 189" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Roseday10 Rs 189.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Naxdom" value="Naxdom, Rs 159" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Naxdom Rs 159.00
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Isolazine" value="Isolazine, Rs 87" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Isolazine Rs 87.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Glycomet" value="Glycomet, Rs 47" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Glycomet Rs 47.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Voveran" value="Voveran, Rs 240" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Voveran Rs 240.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Oflox" value="Oflox, Rs 390" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Oflox Rs 390.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Yees" value="Yees, Rs 175" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Yees Rs 175.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Zerodol" value="Zerodol MR, Rs 150" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Zerodol MR Rs 150.00
                </label>
            </div>
        </div>
         
          <select class="form-select" aria-label="Default select example" name="userType">
            <option selected value="Pharmacy">Pharmacy</option>
          </select>
          <br>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" required name="desc" placeholder="Description">
            <label for="floatingInput">Description</label>
          </div>

          <button class="w-50 btn btn-lg btn-primary my-4" name="submitButton" type="submit">Sign up</button>
          <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
          {% endif %}
        </form>
      </main>
      {% comment %} Login end {% endcomment %}
      </body>
  
  
  </body>
</html>